#signup-section {
    margin-top: 15rem;

    h2, p {
        text-align: center;
        margin: 3rem;
    }
    label, input, select {
        font-size: 1.7rem;
    }
    #name-section, #street-section, #city-state-zip {
        .flexbox(row, flex-start, center, center);
    }
    .form-section {
            .flexbox(column, center, flex-start, center);
            margin: 1rem 4rem;
        }
    #street-section {
        input {
            width: 30rem;
        }
    }
    #zip-section {
        input {
            width: 10rem;
        }
    }
    #email-section {
        input {
            width: 30rem;
        }
    }

    #form-buttons {
        .flexbox(row, center, center, center);

        button {
            .form-button(@button-background, @wild-sand, 11rem, 100%);  
            margin: 3rem;  
        }          
    }
}
#signup-footer {
    position: fixed;
    bottom: 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}